<div class="container">
    <footer>
        <small>
            <%= link_to 'Mattltnblog', root_path %> Copyright by <%= link_to 'Matthieu Lentin', "https://www.linkedin.com/in/matthieulentin/" %>
        </small>
        <nav>
            <ul>
                <li>
                    <%= link_to "A Propos", about_path %>
                </li>
                <li>
                    <%= link_to "Blog", articles_path %>
                </li>
            </ul>
        </nav>
    </footer>
</div>